node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.vscode
coverage
*.md
*.mdx
*.log
.cache
.idea
*.sublime-*
*.swp
.DS_Store
*.sublime-workspace
*.sublime-project
.vercel
.next
.nuxt
dist
build
